*{
    margin: 0;

    padding: 0;
}
.main{
    width: 100%;
    background: url(pic3.png);
    background-position: center;
    background-size: cover;
    height: 95vh;
    
}
.logo{
    width: 40%;
    background: url(pic2.png);
    background-color: white;
    margin-left: 400px;
    margin-top: 50px;
    background-position: center;
    background-size: cover;
    height: 100px;
}
.form{
    width: 300px;
    background: white;
    position: obsolute;
    height: 200px;
    margin-left: 500px;
    margin-top: 80px;
    border-radius: 25px;

}
.form input{
    display: block;
    border: none;
    padding: 10px;
    margin-top: -32px;
    margin-left: 40px;
    border-bottom: 2px solid black;

}
.form h5{
    color: blue;
    margin-left: 150px;
    margin-top: 20px;
}
.btnn{
    width: 80px;
    height: 30px;
    background-color: darkblue;
    margin-left: 100px;
    margin-top: 30px;
    border-radius: 10px;
}
.btnn a{
    color: white;
  
}
.form img{
    height: 30px;
    width: 30px;
    
}